<div class="table-component">
  <div class="container">
    <table>
      <tbody>
        <tr *ngFor="let item of posts" key="{item.id}">
          <th
            class="typography"
            role="cell"
            scope="row"
            (click)="openUrl(item.url)"
          >
            <div class="flex-container">
              <p class="table-text text-dark">{{ item.title }}</p>
              <p class="table-text table-title text-light">
                -{{ item.author }}-
              </p>
            </div>
          </th>
          <th
            class="typography"
            role="cell"
            scope="row"
            (click)="openUrl(item.url)"
          >
            <p class="table-text text-dark">
              {{ item.created_at | date }}
            </p>
          </th>
          <th class="typography align-right">
            <button
              type="button"
              class="button icon-button"
              (click)="borrar(item.id)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
