/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fredoka One",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.typography {
  margin: 0;
  font-family: Fredoka One, Helvetica, Arial, sans-serif;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: rgb(15, 15, 15);
}

.text-light {
  color: #999;
}

h2 {
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0;
}

.table-component {
  padding: 24px;
  padding-top: 30vh;
}

.table-component > .container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
}

tr {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
}

tr:hover {
  background: #fafafa;
}

th {
  display: table-cell;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}

th.align-right {
  text-align: right;
  flex-direction: row-reverse;
}

th > .flex-container {
  display: flex;
  align-items: center;
  flex-direction: "row";
}

.table-text {
  font-size: 13pt;
  font-weight: 500;
}

.table-title {
  padding: 0 16px;
}

.button {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
}

.icon-button {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon-button:hover {
  color: #ff4f4f;
}

.clickable-button-container {
  display: flex;
  padding-top: 24px;
}

.clickable-button {
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 24px;
  font-family: Fredoka One, Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 38px;
  box-shadow: 0 0 #034646;
}

.clickable-button:hover {
  background-color: #015858;
}

.clickable-button:active {
  background-color: #015858;
  box-shadow: 0 8px 24px #013434d1;
  transform: translateY(2px);
}
