<div class="header-component">
  <div class="container content">
    <div class="item">
      <h2 class="typography text-white">HN Feed</h2>
    </div>
    <div class="item">
      <h5 class="typography text-white">We &lt;3 hacker news!</h5>
    </div>
  </div>
</div>
