/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fredoka One",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-component {
  background-color: #333;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.header-component > .content {
  padding: 24px;
}

.header-component > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.header-component > .container > .item {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  margin: 0;
  box-sizing: border-box;
}

.typography {
  margin: 0;
  font-family: Fredoka One, Helvetica, Arial, sans-serif;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #333;
}

.text-light {
  color: #999;
}

h2 {
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0;
}
